.card {
  border: 1px solid hsla(0, 0%, 79%, 0.8);
  text-align: center;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  margin: 10px;
  max-width: 250px;
}

.card .card-img {
  border-radius: 50%;
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card .card-name {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 20%);
  margin: 0;

}

.card .card-text {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);

}