.loggedin {
  background-color: brown;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.loggedout {
  background-color: aqua;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}